html{
  scroll-behavior: smooth;
}
/*header*/
header{
    height:50px;
    width:100%;
    background-color: #111;
    position:top;
    top:0;
    font-family: 'Rubik', sans-serif;
    font-weight:bold;
    z-index: +2;
    position:sticky;
 }

.dropbtn{
    background-color:#111;
    font-family: 'Rubik', sans-serif;
    font-weight:bold;
    border-style:none;
    font-size: 15px;
    z-index: +1;
}
.dropdown {
    position: relative;
    display: inline;
    background-color: #333;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 245px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #111;
  }
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-weight:bold;
  }

.dropdown-content a:hover {background-color: #333;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #111;}

body{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* back to top buttom */
.topbtncontainer{
  z-index: 99;
}
#topbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: +99;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #395B64;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topbtn:hover {
  color: #111;
}

/*home page*/
.homepage{
  background-color: white;
  position:relative;
  bottom: 20px;
  height: 550px;
}
.hptext{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 125%;
    width: 600px;
    padding: 30px;
    margin-top: 30px;
    position:relative;
    left:50px;
    top:40px;
    z-index: +1;
}

#name{
  color:#395B64;
  text-shadow: 10px 11px 18px #A5C9CA;
  font-size: 200%;
  font-weight: 900;
}

.hpbtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #e7f6f2 5%, #a5c9ca 100%);
	background-color:#e7f6f2;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#395B64;
  font-family: 'Rubik', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:3px 10px;
  text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#hpbtna{
  position: relative;
  bottom:7px;
  color:#395B64;
  text-decoration: none;
}
.hpbtn:hover {
	background:linear-gradient(to bottom, #a5c9ca 5%, #e7f6f2 100%);
	background-color:#a5c9ca;
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.hpbtn:active {
	position:relative;
	top:1px;
  text-decoration: none;
}

.hppicture{
  position: absolute;
  bottom: 30px;
  left: 379px;
}

.iconsNav{
  position: absolute;
  left: 50px;
  bottom: 25px;
}
.iconbtn{
  border-style:none;
  background-color:transparent;
  padding: 30px 30px;
}
.iconbtn a{
  color:#111;
  font-size: 200%;
}


/*about Page*/
#about{
  font-family: 'Rubik', sans-serif;
  width: 1150px;
  height: 550px;
  padding:10px;
  margin:20px;
  position: relative;
  left: 60px;
  top: 300px;
}
.abtext1{
  width:400px;
  position: absolute;
  left: 600px;
}
#aboutme{
  font-weight: bold;
  color: #395B64;
  text-shadow: 2px 2px #F3F1F5;
}
.abtext2{
  position:absolute;
  left: 820px;
  bottom: 70px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 5px 10px #F3F1F5;
  display: flex;
  justify-content: center;
}
.abPicGroup{
  position: absolute;
  left: 70px;
  bottom: 220px;
}
.abpicture1{
  position:relative;
  border-radius: 5px;
}
.abpicture2{
  position:relative;
  top:170px;
  right: 100px;
  border-radius: 5px;
}

/*Eduction and Experience*/
.education{
  position: relative;
  top: 600px;
  right: 10px;
  padding: 20px;
  margin: 0px;
}
#edtext{
  font-weight: bold;
  color: #395B64;
  text-shadow: 2px 2px #F3F1F5;
}
.time{
  color: #37573F;
  text-shadow: 2px 2px #F3F1F5;
}

/* experience */
.experience{
  position: relative;
  top: 700px;
  margin: 10px;
  padding: 10px;
}

/* Internship */
.internship{
  position: relative;
  right: 50px;
  background-color: #B4C8CE;
  height: 200px;
  width: 80%;
  box-shadow: 5px 10px #F3F1F5;
}
#intern{
  justify-content: center;
  position: absolute;
  left: 100px;
}

/* volunteering */
.volunteering{
  position: absolute;
  top: 150px;
  left: 400px;
  margin: 20px;
  padding: 20px;
  width: 70%;
  height: 250px;
  text-align: justify;
  background-color: #ECB390;
  box-shadow: 5px 10px #F3F1F5;
}
#volunteer{
  font-weight: bold;
  color: #395B64;
  text-shadow: 2px 2px #F3F1F5;
}

/* Programming Skills*/
.progskills{
  position: relative;
  top: 400px;
  width: 100%;
  height: 400px;
  right: 30px;
  background-color: #2C3333;
  background-clip: margin-box;
  margin: 10px;
  padding: 10px;
}
#prog{
  font-weight: bold;
  color: #F5F2E7;
  text-shadow: 2px 2px #4F98CA;
}
.starsblock{
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-spacing: 100%;
  width: 80%;
  position: relative;
  right: 300px;
}
.proglang{
  display: inline;
  position: relative;
  left: 300px;
  font-size: 100%;
  color: white;
}
.stars{
  position: relative;
  right: 100px;
  font-size: 200%;
  z-index: +1;
}
.checked {
  color: #4F98CA;
}
.unchecked{
  color: white;
}
.progpicture{
  position: absolute;
  bottom: 100px;
  left: 600px;
}
.progbtn{
  text-decoration: none;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 70px;
  left: 725px;
  font-size: 120%;
}
.progbtn a {
  color: white;
}
.progbtn a:hover{
  color: #61A4BC;
}

/* Language Skills */
.langskills{
  padding: 30px;
  margin: 30px;
  position: relative;
  top: 450px;
  right: 30px;
}
#language{
  font-weight: bold;
  color: #395B64;
  text-shadow: 2px 2px #F3F1F5;
}
.langcontainer{
  width: 100%;
  background-color: #F3F1F5;
}
.lang {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.chinese {width: 100%; background-color: #4A675A;}
.english {width: 90%; background-color: #3A4A51;}
.italian {width: 80%; background-color: #ACB5A0;}
.spanish {width: 70%; background-color: #BBCF9B;}
.french {width: 50%; background-color: #D8E1D3;}



          
        